body {
    padding: 0px;
    background-color: #000000;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

html {
    height: -webkit-fill-available;
    min-width: 875px;
}

main {
    display: flex;
    flex-wrap: nowrap;
    min-height: 100vh;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: auto;
}
.container {
    margin: 0px;
    margin-left: 5em;
    text-align: center;
    padding-top: 10px;
    max-width: 100%;
    justify-content: center;
}
.container.hasNotify{
    margin-right: 20em;
}
.bi {
    vertical-align: -.125em;
    pointer-events: none;
    /*fill: #91BA55;*/
    fill: #ffffff;
}
.nav-flush .nav-link {
    border-radius: 0;
}
.nav-pills {
    --bs-nav-pills-link-active-bg: #FFB224;
}
/* .nav-link.active {
    background-image: url("${pageContext.request.contextPath}/image/sidebar_active.png");
} */
footer{
    color: #FFFFFF;
}